<div class="line"></div>
<div class="footer">
  <div class="footerText">
    <i class="fas fa-temperature-high icon-large"></i>
    <div class="content">
      <p class="name">Min-Max</p>
      <p class="data">{{this.data.current.temp_c-2}}° - {{this.data.current.temp_c+2}}°</p>
    </div>
  </div>
  <div class="footerText">
    <i class="fas fa-cloud-rain icon-large outlined-icon"></i>
    <div class="content">
      <p class="name">Precipitation</p>
      <p class="data">{{this.data.current.precip_mm}} mm</p>
      
    </div>
  </div>
  <div class="footerText">
    <i class="fas fa-tint icon-large outlined-icon"></i>
    <div class="content">
      <p class="name">Humidity</p>
      <p class="data">{{this.data.current.humidity}}%</p>
    </div>
  </div>
  <div class="footerText">
    <i class="fas fa-wind icon-large outlined-icon"></i>
    <div class="content">
      <p class="name">Wind</p>
      <p class="data">{{this.data.current.wind_kph}} mph</p>
    </div>
  </div>
  <div class="footerText">
    <i class="fas fa-eye icon-large outlined-icon"></i>
    <div class="content">
      <p class="name">Visibility</p>
      <p class="data">{{this.data.current.vis_miles}} miles</p>
    </div>
  </div>
</div>
